.profile__edit-button {
  width: 24px;
  height: 32px;
  margin: 28px 0 0 13px;
  background-image: url(../../../image/Edit\ Button.svg);
  background-color: black;
  padding: 0;
  border-width: 0px;
  background-repeat: no-repeat;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    margin: 0 0 0 6px;
    background-size: 18px;
    height: 24px;
  }
}
