.profile__profession {
  width: 294px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 4px 0 0 0;
  font-size: 18px;
}


@media screen and (max-width: 767px) {
  .profile__profession {
    width: 189px;
    font-size: 14px;
    margin: 5px 0 33px 0;
  }
}
